<div id="footer">
    <div id="footer_cell">
        <div id="copyright">
            &copy; <%= Time.now.year %> <a href='mailto:jerry@technophobic.org'>Technophobic Software</a>
        </div>
    </div>
</div>
