<div id="homepage-blurb">
  <p>Hello there!</p>
  <p>
    This is a pet project, an English to Braille translator.
  </p>
  <p>
    <span style="font-weight: bold;">Backstory:</span> I recently became interested in Braille. Also of late, I've been looking for 
    an app idea for learning about <span style="font-style: italic;">Action Cable</span>.
  </p>
  <p>
    <a href="https://guides.rubyonrails.org/action_cable_overview.html" title="Action Cable">Action Cable</a> 
    is a library in the Ruby on Rails framework which implements real-time communication 
    over <span style="font-style: italic;">WebSockets</span>.
  </p>
  <p>
    <a href="https://en.wikipedia.org/wiki/WebSocket" title="WebSockets">WebSockets</a> provide persistent, full-duplex TCP socket connections between clients and servers. 
  </p>
  <p>
    The point being, I decided to build this translator with Rails and Action Cable, in order to 
    learn a bit about both things.
  </p>
  <p>
    Anyway, <a href="translate">click here</a> to go to the translator.
  </p>
  <p>
    <span style="font-weight: bold;">Note:</span> This is an early work in progress. 
    Right now the app does Grade 1 (uncontracted) Braille translations. 
    As I spend additional time building out the app, Grade 2 contractions should become possible,
    as well as proper support for capitalization. All in good time :)
  </p>
  <p>
    Cheers, and thanks for checking this out.
  </p>
</div>
