<div id="homepage-blurb">
  <p>Hello there!</p>
  <p>
    This is a pet project, a proof-of-concept English to Braille translator.
    <br />
    The curious are welcome to try it <a href="translate">by clicking here</a>.
  </p>
  <p>
    ---<br />
    <span style="font-weight: bold;">Backstory, for anyone interested in programming:</span> I recently became interested in Braille. Also of late, I've been looking for 
    an app idea for learning about <span style="font-style: italic;">Action Cable</span>.
  </p>
  <p>
    <a href="https://guides.rubyonrails.org/action_cable_overview.html" title="Action Cable">Action Cable</a> 
    is a library in the Ruby on Rails framework which implements real-time communication 
    over <span style="font-style: italic;">WebSockets</span>.
  </p>
  <p>
    <a href="https://en.wikipedia.org/wiki/WebSocket" title="WebSockets">WebSockets</a> provide persistent, full-duplex TCP socket connections between clients and servers. 
  </p>
  <p>
    The point being, I decided to build this translator with Action Cable to 
    get the feel for using it.
  </p>
  <p>
    ---<br />
    <span style="font-weight: bold;">More to come:</span>
  </p>
  <p>
    <ul>
      <li>
        Right now the app does Grade 1 (uncontracted) Braille translations. As I spend additional 
        time building out the app, Grade 2 contractions should become possible.
      </li>
      <li>
        Proper support for capitalization
      </li>
      <li>
        Minor bug fixes and enhancements
      </li>
    </ul>
  </p>
</div>
