<b><%= label_tag :english %>:</b><br />
<%= text_area_tag :user_input, nil, placeholder: "Start typing here...", rows: 6, cols: 60, focus: true %>

<div class="break" style="height: 25px;"></div>

<b><%= label_tag :braille %>:</b><br />
<%= text_area_tag :translation, nil, rows: 6, cols: 60, disabled: true %>
